.tablelist {
    background-color: #f7f4f4;
    padding: 17px 37px;
    min-height: 97vh;
}
thead {
    background-color: #b2def9;
    color: gray;
    font-size: 15px;
}
th {
    padding: 10px;
    text-align: justify
    
    
}
td {
    position: relative;
}
i.fas.fa-ellipsis-v {
    width: 20px;
    cursor: pointer;
    height: 18px;
    text-align: center;
}
i.fas.fa-trash {
    margin-left: 10px;
    cursor: pointer;
}
.resizer {
    display: inline-block;
    background: blue;
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action:none;

    &.isResizing {
      background: red;
    }
  }

  span.sortingSymbol {
    float: right;
}
.editDelete {
    background-color: white;
    text-align: center;
    z-index: 3;
    position: absolute;
    width: 56%;
    box-shadow: 0px 0px 2px grey;
}
.edittable,.deleteTable{
    padding: 10px;
    cursor: pointer;
}
.edittable:hover,.deleteTable:hover{
    background-color: blue;
    color: white;

}