.tablelistHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    padding-left: 50px;
    .title {
        font-size: 20px;
    }
}
table {
    width: 100%;
}
table {
    border-spacing: 0;

    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: 0;
      padding: 18px;

      :last-child {
        border-right: 0;
      }
    }
  }
  td {
    background-color: white;
}   