
    .heading{
        padding: 22px

    }
    .heading{
        .backSymbol {
            cursor: pointer;
            font-weight: normal !important;
            font-size: 18px;
            margin-right: 11px;
        }
        .headName {
            font-size: 17px;
        }
    }
    #form{
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        .formContents {
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: 27px 0px;
            width: 47%;
            padding: 16px;
            fieldset#notificationRadio {
                margin-left: 10px;
            }
        }
        #submitForm{    
            width: 200px;
    color: gray;
    background-color: #d6fbfb;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 17px;

        }
        .section2 {
           
            margin-top: 12px;
            border-top: 1px solid;
            padding-top: 30px;
            
            .dateField{
                margin-top: 10px;
                display:flex;
                padding: 0px 10px;
                justify-content: space-between;
            }
        }
        .section3 {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
           
        }
        .section4 {
            display: flex;
            margin-top: 12px;
            border-top: 1px solid;
            padding-top: 30px;
        }
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input#increamentTime,input#frequency {
    width: 260px;
}
div#fiedtag {
    font-size: 14px;
    color: #e83d3d;
    margin-left: 11px;
    margin-top: -10px;
}