.ageLimit {
    display: flex;
    margin-bottom: 12px;
}
.modalHead {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
    justify-content: space-between;
    padding: 12px;
    font-size: 17px;
    color: white;
    background-color: blue;
}
.modalContent {
    padding: 20px;
}

    div#modal {
        overflow: auto;
        border: none;
    }

.submitButton {
    display: flex;
    position: sticky;
    align-items: center;
    background-color: white;
    flex-direction: row-reverse;
    bottom: 0px;
    box-shadow: -1px 2px 15px grey;
    padding: 9px 24px;
}
.pincode {
    margin-bottom: 20px;
}
.checkBox,.field {
    display: flex;
}
.checkBox{
    margin-bottom: 20px;
}
span.errormsg {
    color: red;
    font-size: 13px;
}